body {
    padding: 0;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    background-color: #B7E1B0;
    color: #38502C;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  /*
   * Formatting the header area
   */
  header {
    height: 80px;
    opacity: .9;
    margin-bottom: 10px;
    position: relative;
    display: inline;
  }

  header a.visited {
    color: #38502C;
  }

  header a {
    color: #38502C;
    font-size: 1.5em;
  }

  header img {
    position: relative;
    width: 35%;
  }

  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  div.home {
    padding: 100px 0 300px 0;
    color: #B7E1B0;
    background-image: url('../mining-for-fuel.jpeg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    /* background-color: #E6E6FA; */
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
  }

   /*
   * Navigation
   */
  .menu {
    width: 65%;
    float: right;
    margin-top: 0;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    text-decoration: none;
  }

   /*
   * Footer content
   */
  footer {
    text-align: center;
    bottom: 0;
  }

  footer ul li a, a:visited {
    color: #38502C;
    text-transform: uppercase;
    font-size: 18px;
  }

  footer ul li {
    list-style:none;
    display:inline;
    border-right: 1px solid #38502C;
    padding: 0 15px;
  }

  div.row {
    display:block;
    position:fixed;
    line-height: 2;
    margin: 25px auto;
    width: 100%;
  }
