{% extends "layout.html" %}
{% block content %}

    <div class="darkgreen aboutusbox">
        <h1>About Us</h1>
        <p>Description about our company</p>
        <p>We are a group of enthuastic software engineering interns with a passion for learning and creating projects that put our skills to the test!</p>
    </div>

<div class="lightgreen aboutusbox">    
    <div class="picturebox">
        <img src="static/pictures/ryantaylor.jpg"> 
    </div> 
<h1> Ryan Taylor </h1>
<p> Hi, my name is Ryan Taylor. I am a senior at Georgia State University in pursuit of a Bachelor's Degree in Computer Science. 
    I genuinely enjoy technology so a lot of my free-time is devoted to tinkering around with my Arch Linux desktop environment. Another hobby of mine is playing the tenor saxophone. 
    I was in band throughout high school and despite not being in band during college, I still make an effort to play my instrument when I can.</p>
</div>

<div class="darkgreen aboutusbox">
    <!-- <div class="picturebox">
        <img src="static/pictures/kaylie.jpg"> 
    </div>  -->
    <div class="picturebox">
        <img src="static/pictures/sumayyah.jpg"> 
    </div> 
<h1> Sumayyah Islam </h1>
<p> Hi, my name is Sumayyah Islam. I am a senior at the University of Houston, majoring in Electrical Engineering.  
    This is my first internship with Avanade, where I'm getting to learn about Azure and explore the world of front end coding and designing websites. 
    I was in choir from kindergarten to high school, and in my free time I enjoy playing games like Stardew Valley, Risk of Rain and going to the gym.</p>
</div>

<div class="lightgreen aboutusbox ">      
    <!-- <div class="picturebox">
        <img src="static/pictures/braedonlindsey.jpg"> 
    </div>  -->
<h1> Braedon Lindsey </h1>
<p> Hi, my name is Braedon Lindsey.</p>
</div>

<div class="darkgreen aboutusbox">
    <div class="picturebox">
        <img src="static/pictures/sumayyah.jpg"> 
    </div> 
<h1> Sumayyah Islam </h1>
<p> Hi, my name is Sumayyah Islam. I am a senior at the University of Houston, majoring in Electrical Engineering.  
    This is my first internship with Avanade, where I'm getting to learn about Azure and explore the world of front end coding and designing websites. 
    I was in choir from kindergarten to high school, and in my free time I enjoy playing games like Stardew Valley, Risk of Rain and going to the gym.</p>
</div>

 {% endblock %}
