{% extends "layout.html" %}
{% block content %}
<div class="contact centercontainer">
  <div class= "contactform formbase">
    <h1>Join our list for updates and more information!</h1>
  </div>
  <div class= "concernform formbase">
    <h3>Submit questions, suggestions, and concerns:</h3>
    <h5> or email us at</h5>
    <a href="mailto: braedon.lindsey@avanade.com">braedon.lindsey@avanade.com</a>
    <a href="mailto: kaylie.naylor@avanade.com">kaylie.naylor@avanade.com</a>
    <a href="mailto: ryan.b.taylor@avanade.com">ryan.b.taylor@avanade.com</a>
    <a href="mailto: sumayyah.islam@avanade.com">sumayyah.islam@avanade.com</a>
  </div>

  <h1>Contact Us!</h1>
</div>
{% endblock %}