{% extends "layout.html" %}
{% block content %}
<div class="mission-block">
  <div class="mission-text">
    <h1 class="welcome-text">OUR MISSION AT GAVANADE</h1>
    <h2>is to help you find the lowest gas prices</h2>
  </div>
</div>

  <div class="project-block">
    <div class="project">
      <a href="https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html"></a>
      <img src="static/pictures/lng-canada.jpg" style="width: 400px"> 
    </div>
    <div class="project">
      <img src="static/pictures/big-foot-hero.jpg" style="width: 400px">
    </div>
    <div class="project">
      <img src="static/pictures/corpus-christi.jpg" style="width: 400px">
    </div>
  </div>
{% endblock %}
 
