{% extends "layout.html" %}
{% block content %}
<div class="mission-block">
  <div class="mission-text">
    <h1 class="welcome-text">OUR MISSION AT GAVANADE</h1>
    <h2>is to help you find the lowest gas prices</h2>
  </div>
</div>

  <div class="project-block">
    <div class="project" id="canada">
      <a href="https://www.shell.com/about-us/major-projects/lng-canada.html" class="projlink"></a>
    </div>
    <div class="project" id="bigfoot">
      <a href="https://www.chevron.com/projects/big-foot" class="projlink"></a>
    </div>
    <div class="project" id="corpus">
      <a href="https://www.cheniere.com/where-we-work/cc-pipeline" class="projlink"></a>
    </div>
  </div>
{% endblock %}

