{% extends "layout.html" %}
{% block content %}
<div class="mission-block">
  <div class="mission-text">
    <h1 class="welcome-text">OUR MISSION AT GAVANADE</h1>
    <h2>is to help you find the lowest gas prices</h2>
  </div>
</div>

  <div class="project-block">
    <div class="project" id="canada">
      <a href="https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html" class="projlink"></a>
    </div>
    <div class="project" id="bigfoot">
      <a href="https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html" class="projlink"></a>
    </div>
    <div class="project" id="corpus">
      <a href="https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html" class="projlink"></a>
    </div>
  </div>
{% endblock %}
 
