<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Gavanade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header>
      <div class="headcontainer">
        <img src="static/Gavanade-Logo.png" alt="Gavanade Logo" class="logo" style="width:300px"/>
        <strong>
          <nav>
          <div class="menu">
            <a href="{{ url_for('home') }}">Home</a></li>
            <a href="{{ url_for('about') }}">About Us</a></li>
            <div class="dropdown">
              <button class="dropbtn">Gas Prices
                <i class="fa fa-caret down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{{ url_for('zip') }}">Search by Zipcode</a></li>
                <a href="{{ url_for('map') }}">Search by Map</a></li>
              </div>
            </div>
            <a href="{{ url_for('placeholder') }}">Placeholder</a></li>
            <a href="{{ url_for('placeholder') }}">Placeholder</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>


  <ul class=flashes>
    {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
<footer>
  <div class="row">
  <ul>
    <li><a target="_blank" href="{{ url_for('legal') }}" title="Legal Notice">Legal Notice</li>
    <li><a target="_blank" href="{{ url_for('contact') }}" title="Contact">Contact Us</li>
    <li style="border-right: none;"><a target="_blank" href="{{ url_for('privacypolicy') }}" title="Privacy Policy">Privacy Policy</li>
  </ul>
</div>
</footer>

</html>