{% extends "layout.html" %}

{% block head %}
<meta charset="utf-8">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
{% endblock %}

{% block content %}

<div id="map" style="padding: 0; margin: 0; height: 700px; z-index: -200"></div>
<script src="{{ url_for('static', filename='js/map.js') }}">
</script>

<div class= "flashes">
  {% for message in get_flashed_messages() %}
  <div class="searchcontainer mapcontainer" id="outer" style="display:block">
    <div class="close-container" id="results-button">
      <div class="leftright"></div>
      <div class="rightleft"></div>
      <label class="close">close</label>
    </div>
    
  <div class="searchcontainer mapresults" style="display:block">
    {% if message[0] in "0123456789" %}

    {% set msg_split = message.split("`") %}

    <li>The average gas price for {{ msg_split[0] }} ({{ msg_split[1] }},
      {{ msg_split[2] }}) is {{ msg_split[3] }}</li>
    <li>The average gas price for {{ msg_split[2] }} is {{ msg_split[4] }}</li>
    <li>The national average gas price is {{ msg_split[5] }}</li>

    {% else %}

    <li>{{ message }}</li>

    {% endif %}
  </div>
  {% endfor %}
</ul>

    <div class= "mapresults" id="outer">
    {% set msg_split = message.split(",") %}
    <h7>{{ msg_split[1] }}, {{ msg_split[2] }}</h7>
    <p>The average gas price for {{ msg_split[0] }} is {{ msg_split[3] }}</p>
    <p>The average gas price for {{ msg_split[2] }} is {{ msg_split[4] }}</p>
    <p>The national average gas price is {{ msg_split[5] }}</p>
    {% endfor %}
    </div>
    <script>
      
      var button = document.getElementById( "results-button" );
  
      button.addEventListener( 'click', function() {
      document.getElementById( "outer" ).classList.add( "closed" );
      document.getElementById( "outer" ).addEventListener( 'transitionend', function() {
        if (document.getElementById( "outer" ).classList.contains('closed')) {
        document.getElementById( "outer" ).classList.add('removed');
        }
      });
      
      });
    </script>
  </div>
</div>
{% endblock %}